---
title:
call_to_action: Contact
background_image_path:
large_header: true
testimonials:
  - message: She's an amazing real estate agent, she sold my house 50k above asking.
    image: "https://placekitten.com/g/60/60?a=.png"
    name: Maximus
  - message: I've been using Sunny as my representative for my past 3 housing deals. Can't be replaced.
    image: "https://media.licdn.com/dms/image/D4E03AQEQ03Et8KWAww/profile-displayphoto-shrink_400_400/0/1668930047371?e=1691625600&v=beta&t=40A0XEHd0z9JekcHSW1XE-yCptF7nP5IK8MbJVQB5Qg"
    name: Maximo
  - message: Sunny was very patient with me and helped me find my perfect home!
    image: "https://placebear.com/60/60?a=.png"
    name: Maxwell
_options:
  image:
    width: 60
    height: 60
---

<div class="editable">
  <p>
    I am a real esate agent who has been in the industry for over 10 years. With
    the knowledge and skills to get your the results you want.
  </p>
</div>

<div class="testimonials">
  {% for testimonial in page.testimonials %}
  <blockquote class="testimonial">
    <p class="testimonial-message">{{ testimonial.message }}</p>
    <p class="testimonial-author">
      <img
        src="{% include relative-src.html src=testimonial.image %}"
        alt="Photo of {{ testimonial.name }}"
      />
      {{ testimonial.name }}
    </p>
  </blockquote>
  {% endfor %}
</div>
